<h1>Hello <%=@User.name%></h1>




<li>
  <%= link_to "Change your password", edit_user_registration_path %>

  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <%= link_to('Spaceships', spaceship_path, method: :get) %>
</li>


<h1><%=@User.fleet%></h1>

<div> 
  <% @User.spaceships.each do |t| %>
      <p><%= t.name %></>
  <% end %>
</div>