<h1>New Spaceship</h1>

<%= form_for Spaceship.new do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :capacity %><br>
    <%= f.text_field :capacity %>
  </p>

    <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
